/*
stylesheet for login page
*/
/*Examples */
/*src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*		 url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
/*		 url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
/*		 url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
/*		 url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
@import '../mixins.scss';

#root b, strong {
  font-family: $font-stack, sans-serif;
}

//stlying for form on the homepage
#home {
  font-family: $font-stack, sans-serif;

  .login_wrapper{
    height: 45vw;
    width: 100%;
    img{
      float: left;
      vertical-align: middle;
      margin: 7.5% 10% 6% 15%;
      max-width: 100%;
    }
    .loginmodal {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
      height: 440px;
      position: absolute;
      /*top: calc((100vh - 500px)/2);*/
      margin-top: 10vh;
      right: 10%;
      width: 350px;
      &.error {
        height: 520px;
      }
  }
    .signform {
      width: 100%;
    }
 }
}

//general styling for forms
.login_wrapper {

  input {
    margin: 8px 0px;
  }
  .loginmodal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    /*top: calc((100vh - 500px)/2);*/
    margin-top: 10vh;
    width: 350px;
    //right: calc((100vw - 800px)/0.5);
    //animation: fadeInDown 1s;

    .signform {
      float: left;
      height: 100%;
      width: 100%;
      opacity: 0;
      padding: 0 5%;
      animation: fadeInLeft 0s 0s forwards;
      text-align: left;

      h2 {
        color: #797979;
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;
        letter-spacing: $letterspacing-p;
        text-align: center;
        width: 100%;
      }
      label {
        width: 100%;
        margin-top: 15px;
        font-family: 'AvenirNext-Regular','Roboto',Arial;
        color: #444;
      }
      input {
        width: 100%;
        background-color: #f4f4f4;
        border: none;
        border-radius: 5px;
        color: #797979;
        font-size: 17px;
        padding-left: 10px;
        height: 32px;
        line-height: 30px;
        letter-spacing: 0.5px;
        border: 0.7px solid rgb(218, 219, 220);
        &:focus {
          outline: none;
        }
      }
      .or_wrap {
        width: 50%;
        margin: auto;
        padding: 10px 0px;
        color: lightgrey;
      }
      button {
        &#btnlogin, &#btnreg {
          width: 100%;
          height: 30px;
          background-color: #3897f0;
          margin-top: 10px;
          display: block;
          border-radius: 3px;
          border: 0px;
          color: white;
          font-weight: 600;
          font-size: 16.56px;
          letter-spacing: $letterspacing-p;
          border-bottom: 2px solid #1d8cc3;
        }
      }
      .br, .or {
        float: left;
        width: 10%;
        text-align: center;
      }
      .br {
        height: 1px;
        background-color: lightgrey;
        width: 45%;
        margin-top: 10px;
      }
      button {
        &:active {
          border-bottom: none !important;
          outline: none;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .signup {
      float: left;
      height: 100%;
      width: 50%;
      opacity: 0;
      padding: 0 3%;
      animation: fadeInLeft 0s 0s forwards;
      text-align: left;
    }
  }
}


#footer {
  background-size: contain;
  font-family: $font-stack, sans-serif;
}

body h2.headline {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.legal {
  color: #797979;
  font-size: smaller;
  width: 100%;
  text-align: center;
}

#login_mobile{
  background-color: #151515;
  p{
    color: #f9bb12;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    padding: 0 5vw;
    font-family: Chalkboard;
  }
}

/*Error handling */

.hasDanger {
  margin: 0px;
  color: red;
  font-size: x-small;
}

.hasDanger-border {
  border: 1px solid red !important;
}


.isSafe-border {
  border: 1px solid green !important;
}

.headline {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: $letterspacing-h2;
}

.testProfile{
  cursor: pointer !important;
}

.whiteboards_content_wrapper p, #platforms p, #platform_top p, .collaborate_wrapper p, .canvas_content_wrapper p {
  line-height: 24px;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: $letterspacing-p;
}

.wrapper {
  padding: 14vh 0;
}

/* mobile styling */
@media only screen and (max-width: 420px) {
  #login {
    display: none;
  }
  #login_mobile {
    display: block;
  }
  div.login_wrapper .loginmodal .signform {
    width: 100%;
  }
}

@media only screen and (min-width: 421px) {
  #login_mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .login_wrapper .loginmodal {
    width: 100%;
    left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .login_wrapper .loginmodal {
    overflow: hidden;
    width: 90%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    .signup, .signform {
      width: 50%;
    }
    .signup, .signform {
      //animation: fadeInLeft 1s 0s forwards;
    }
  }
}



@media only screen and (max-width: 1230px) {
 .headline {
   font-size:  get-headline(0.8);
   font-weight: 600;
 //  letter-spacing: 1.2px;
 }
 #home {
   .login_wrapper{
       img{
         width: calc(50vw/1.3);
       }
   }
 }
}

@media only screen and (max-width: 1200px) {

  #home{
    .login_wrapper{
      height: 55vw;
    }
  }

}


@media only screen and (max-width: 1049px) {

   .whiteboards_content_wrapper p{
   //line-height: get-height(0.8);
   font-weight: lighter;
   font-size: get-p(0.9);
   //letter-spacing: 1.5px;
  }

  #home{
    .login_wrapper{
      height: 65vw;
    }
  }

}


@media only screen and (max-width: 1001px) {
   .headline {
     font-size:  get-headline(0.6);
     font-weight: 600;
    // letter-spacing: 1.2px;
   }

   .whiteboards_content_wrapper p{
     line-height: get-height(0.8);
     font-weight: lighter;
     font-size: get-p(0.85);
     //letter-spacing: 1.5px;
  }

}

@media only screen and (max-width: 988px) {
  #home {
    .login_wrapper{
        img{
          width: calc(50vw/1.5);
        }
    }
  }
}

@media only screen and (max-width: 877px) {
  #home {
    .login_wrapper{
      height: 145vh;
      img{
        float: none;
        width: 550px;
        margin: 8% auto 2%;
        display: block;
        padding: 1%;
      }
      .loginmodal{
        position: relative;
        margin: 10vh auto 0;
        display: block;
        right: 0;
      }
    }
  }
}


@media only screen and (max-width: 807px) {
   .headline {
     font-size:  get-headline(0.5);
     font-weight: 600;
   //  letter-spacing: 1.2px;
   }

     .whiteboards_content_wrapper p{
   line-height: get-height(0.6);
   font-weight: lighter;
   font-size: get-p(0.6);
  // letter-spacing: 1.5px;
  }

}

@media only screen and (max-width: 659px) {
   .headline {
     font-size:  get-headline(0.4);
     font-weight: 600;
   //  letter-spacing: 1.2px;
   }
}


@media only screen and (max-width: 635px) {
  .whiteboards_content_wrapper p{
     line-height: get-height(0.5);
     font-weight: lighter;
     font-size: get-p(0.5);
    // letter-spacing: 1.5px;
  }

}


@media only screen and (max-width: 600px) {
  #home {
    .login_wrapper{
      height: 135vh;
      img{
        float: none;
        width: 375px;
        margin: 8% auto 2%;
        display: block;
        padding: 1%;
      }
      .loginmodal{
        position: relative;
        margin: 10vh auto 0;
        display: block
      }
    }
  }
}


@media only screen and (max-width: 560px) {

  .whiteboards_content_wrapper p{
     line-height: get-height(0.4);
     font-weight: lighter;
     font-size: get-p(0.4);
    // letter-spacing: 1.5px;
  }
}


@media only screen and (max-width: 545px) {
   .headline {
     font-size:  get-headline(0.3);
     font-weight: 600;
   //  letter-spacing: 1.2px;
   }
   #home{
     .login_wrapper{
       height: 135vh;
       img{
         margin-top:12%;
       }
     }
   }
}


@media only screen and (max-width: 486px) {

    .whiteboards_content_wrapper p{
     line-height: get-height(0.4);
     font-weight: lighter;
     font-size: get-p(0.4);
    // letter-spacing: 1.0px;
  }
}


@media only screen and (max-width: 431px) {

    .whiteboards_content_wrapper p{
     line-height: get-height(0.35);
     font-weight: lighter;
     font-size: get-p(0.35);
    // letter-spacing: 1.0px;
    }

    .headline {
       font-size:  get-headline(0.25);
       font-weight: 600;
     //  letter-spacing: 1.2px;
     }

}

@media only screen and (max-width: 420px) {


  #home {
    .login_wrapper{
      height: auto;
    }
  }

  .collaborate_wrapper p, #platforms p, .canvas_content_wrapper p, .platforms_content_wrapper2 p, .mobileApp_content_wrapper p{
     line-height: 3vh;
     font-weight: lighter;
     font-size: 3vw;
     margin-bottom: 5vh;
  }


  .canvas_content_wrapper{
        .headline {
    // margin-bottom: 2vh;
       font-size:5.2vw;
       font-weight: 600;
       margin-top:0;
     }
  }

      #platforms p{
          margin-bottom: 0;

  }

  h5{
      margin:0;
  }

  .headline {
    margin-bottom: 2vh !important;
    font-size: 6vw !important;
    font-weight: 600 !important;
    margin-top: 0 !important;
  }

  #Whiteboards p, #exhibition p, #collaboration p, #canvas p, {
    margin-bottom: 5vh;
    line-height: 3vw !important;
    font-weight: lighter !important;
    font-size: 3vw !important;
  }

  #platforms{
    .platforms_content_wrapper2{
      p{
        margin-bottom: 1vh;
        line-height: 3vw !important;
        font-weight: lighter !important;
        font-size: 3vw !important;
        &:first-child{
           smargin-bottom: 0;
        }
      }
    }
  }
}
