.wrapper-element {
  background-color: #fff;
  width: 80%;
  height: 70vh;
  padding: 0px; }

.wrapper-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  height: 100%; }

.wrapper-element-right {
  height: 100%;
  padding: 10px 5px;
  border-left: #f5f5f5 solid 0.5px; }

.userInfo {
  height: 10%;
  margin: 0px 10px 0px 10p; }

.interactive-zone {
  height: auto; }

.align-content {
  text-align: left;
  width: 100%;
  height: fit-content;
  width: -webkit-fill-available;
  padding: 0px; }

.user-name {
  padding: 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 8px; }

.theatre-caption {
  color: #676767;
  padding: 0px 10px;
  font-family: "AvenirNext-Regular", Helvetica;
  word-break: break-all; }

.comment-style {
  padding-top: 20px;
  min-height: inherit;
  max-height: 420px;
  overflow-y: auto; }

.comment-style ul li {
  border: none !important;
  margin-top: 0px !important; }

.comment-style ul {
  padding: 0px;
  /*height: 65px;*/
  overflow: hidden;
  line-height: 1; }

.comment-input-style {
  border: 1px;
  box-shadow: 4px 4px 13px 0px;
  border-radius: 5px;
  width: 200px; }

.hide-commentInput {
  display: none !important; }

.comment-content {
  word-wrap: break-word;
  display: inline-block;
  word-break: break-all; }

.hide-commentZone {
  display: none !important; }

.showMoreButton {
  font-size: 1.5em;
  padding-right: 10px; }

.see-all-comment {
  font-weight: bold;
  text-align: -webkit-center;
  border: none;
  text-decoration: none;
  background-color: #fff;
  outline: none; }

.modal-container {
  box-shadow: 2px 2px 5px #000;
  position: absolute;
  width: 200px;
  height: auto;
  padding: 8px;
  background: white;
  z-index: 100;
  text-align: left;
  max-height: 200px;
  overflow-y: auto; }
  .modal-container h1 {
    margin: 0;
    font-size: 16px;
    color: gray;
    padding: 5px; }
  .modal-container .liked-by {
    display: block;
    height: 25px;
    padding: 2px 5px;
    z-index: 10; }
  .modal-container h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0; }
  .modal-container textarea {
    background: none;
    border: none;
    margin: 12px 0 0;
    font-size: 16px;
    color: #464646;
    height: auto;
    min-height: 100px;
    width: 100%;
    resize: none; }
  .modal-container.like.newsfeed {
    left: 70px;
    top: -110px; }
  .modal-container.like.theatre {
    /*  left: -400px;
                top: 120px;*/ }
  .modal-container.share.newsfeed {
    left: -130px;
    top: -160px; }
  .modal-container.share.theatre {
    left: -600px;
    top: 160px; }

button.close {
  margin: 4px;
  position: absolute;
  top: 0;
  right: 0; }

.copy-share-link {
  position: static;
  background: none;
  border: none;
  color: #fbd546;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0; }
