/** Styling for collaborate Section on the homepage **/
.collaborate_content_wrapper {
  padding: 0 5vw;
  text-align: center; }

#collaborate_top {
  display: block; }

#collaborate_bottom {
  display: none; }

@media only screen and (max-width: 505px) {
  #collaborate_top {
    display: none; }
  #collaborate_bottom {
    display: block; } }
