/** Styling for collaborate Section on the homepage **/

.arrowLeft, .arrowRight{
  display: none;
}

.collaborate_content_wrapper {
  padding: 0 5vw;
  text-align: center;
}

#collaborate_top {
  display: block;
}

#collaborate_bottom {
  display: none;
}

.collaborate_wrapper.wrapper{
  padding-top: 0%;
}

.collaborate_wrapper{
  text-align: center;
}

.mySlidesImage{
  height: auto;
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
}

#mySlides1{
  width: 80%;

}

#mySlides2{
  padding-left: 15%;
  padding-right: 15%;
  width: 80%;

}

#mySlides3{
  padding-left: 15%;
  padding-right: 15%;
  width: 80%;
}



#allImages{
  display: inline;
}

.leftCrsl{
  width: 40px;
  height: 40px;
}

.rightCrsl{
  width: 40px;
  height: 40px;

}

@media only screen and (max-width: 505px) {
  #collaborate_top {
    display: none;
  }
  #collaborate_bottom {
    display: block;
  }
}
