.progress-box {
  position: absolute;
  opacity: 0;
  transition: 0.25s;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.progress-box.show {
  opacity: 1;
  transform: translateY(-40px);
}
.progress-box progress {
  box-shadow: 1px 1px 10px #999;
  display: inline-block;
  border-radius: 50px;
  margin: 0;
}