#options-menu {
    width: 250px;
    z-index: 100;
    background-color: #fff;
    height: 100%;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 65px;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.6);
    transition: height 2s;
    transition-timing-function: ease;
}

.display-element {
    display: block !important;
}

.hide-element {
    display: none !important;
}

.full-width {
    width: 100% !important;
}

.no-scroll {
    overflow: hidden !important;
}

.listOptions {
    list-style-type: none;
    line-height: 2.5;
    margin: 20px 0px;
    padding: 0px
}

.optionTitle {
    font-size: 30px;
    color: #777;
}

.listOptions li a{
    text-decoration: none;
    font-weight: 700;
    color: #999;
    outline: none;
    font-size: 16px;    
}

.listOptions li a:hover {
    color: #ffbb00 !important;
}

.info-action {
    max-width: max-content;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.form-control-account-setting {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #555;*/
    background-color: rgba(153, 153, 153, .14);
    background-image: none;
    /*border: 1px solid rgba(153, 153, 153, .22);*/
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.control-label-account-setting {
    padding: 7px 0px 0px 0px;
    margin-bottom: 0;
    text-align: right;
    color: rgba(153, 153, 153, 1);
    font-size: 15px;
    font-weight: 500;
}

.textarea-report {
    margin: 0px;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background-color: rgba(153, 153, 153, .10);
    border: none;
    outline: none;
    resize: none;
}

input {
    outline: none;
}

.custom-modal {
    width: 515px;
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.custom-form {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
    overflow: hidden;
}

#options_menu_zone .edit-info{
    color: #fff;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#options_menu_zone .edit-info{
    margin: 10px 5px; 
    background-color: #999;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

#options_menu_zone .edit-info:hover {
    background-color: rgba(51, 51, 51, 1);
}

#options_menu_zone .edit-info:hover {
    color: #ffbb00;
}

#options_menu_zone .del-info{
    color: #fff;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#options_menu_zone .del-info:hover {
    color: #ffbb00;
}

#options_menu_zone .del-info:hover {
    background-color: rgba(51, 51, 51, 1);
}

#options_menu_zone .del-info {
    margin: 10px 5px; 
    background-color: rgba(255, 0, 0, .81);
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

#options_menu_zone .send-report {
    margin: 10px 5px; 
    background-color: rgba(253, 110, 30, .82);
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

#options_menu_zone .send-report:hover {
    background-color: rgba(51, 51, 51, 1);
}

.sending {
    color: #fff;
    background-color: rgba(51, 51, 51, .5);
}

