.Login__forgotpwd-btn {
  background: none;
  border: none;
  font-size: 13px;
  margin-top: 2rem;
  padding: 0;
  color: #797979; }

.Login__forgotpwd-btn:hover {
  color: red; }

.ForgotPwd__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4); }

.ForgotPwd {
  background: white;
  padding: 1rem;
  max-width: 300px;
  border-radius: 5px; }

.ForgotPwd__title {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1rem;
  letter-spacing: 1px;
  color: #797979; }

.ForgotPwd__info {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2rem; }

.ForgotPwd__email-input {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  color: #797979;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 0.5px; }
  .ForgotPwd__email-input:focus {
    outline: none; }

.ForgotPwd__send-btn {
  width: 100%;
  height: 30px;
  background-color: #4285f4;
  margin: 1.2rem 0;
  display: block;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 2px solid #1d8cc3; }

#login-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("/img/login/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #login-wrapper .legal {
    text-align: center;
    color: #797979; }
  #login-wrapper .login_wrapper .loginmodal {
    display: block;
    left: 0;
    top: 14vh;
    margin: 0 auto;
    height: 400px;
    position: relative;
    width: 350px; }
  #login-wrapper .login_wrapper .signin {
    width: 100%;
    height: 100%; }
  #login-wrapper .login_wrapper .signform-header {
    text-align: center;
    padding: 1%; }
    #login-wrapper .login_wrapper .signform-header img {
      display: inline-block; }
    #login-wrapper .login_wrapper .signform-header h2 {
      color: #080808;
      display: inline-block;
      font-weight: bold;
      font-size: 35px;
      font-family: "AvenirNext-Regular", Helvetica;
      line-height: 1.36;
      letter-spacing: 1px;
      margin-bottom: 0px;
      width: auto; }
    #login-wrapper .login_wrapper .signform-header h3.sub-headline {
      color: #676767;
      display: block;
      font-size: 19px;
      margin: -18px 0px 10px -28px; }
