
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes fadeInDown {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	}

	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes fadeInUp {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	}

	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes fadeInLeft {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(-15%, 0, 0);
	transform: translate3d(-15%, 0, 0);
	}

	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@-webkit-keyframes fadeInRight {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	}

	100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
.login_wraper{
	height: 100vh;
	width: 100%;
	background-image: url("bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.login_wraper .loginmodal{
	width: 800px;
	height: 500px;
	position: absolute;
	background-color: white;
	top: calc((100vh - 500px)/2);
	left: calc((100vw - 800px)/2);
	animation: fadeInDown 1s;
}
.login_wraper .loginmodal .signup, .login_wraper .loginmodal .signform{
	float: left;
	height: 100%;
	width: 50%;
	opacity: 0;
	animation: fadeInLeft 1s 1s forwards;
}
.login_wraper .loginmodal .signform h2{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
	letter-spacing: 2px;
	font-family: "Arial black";
	color: #444;
}
.login_wraper .loginmodal .signform label{
	width: 100%;
	margin-top: 15px;
	padding-left: 15%;
	font-family: Tahoma;
	color: #444;
}
.login_wraper .loginmodal .signform input{
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	border: 1px solid lightgrey;
	padding-left: 10px;
	height: 30px; 
	line-height: 30px;
}
.login_wraper .loginmodal .signform input:focus{
	outline: none;

}
.login_wraper .loginmodal .signform button#btnlogin{
	margin: auto;
	width: 70%;
	height: 40px;
	background-color: #00a1f1;
	margin-top: 20px;
	display: block;
	border-radius: 20px;
	border: 0px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 2px solid #007ab7;
}
.login_wraper .loginmodal .signform .or_wrap{
	width: 50%;
	margin: auto;
	padding: 10px 0px;
	color: lightgrey;
}
.login_wraper .loginmodal .signform .br, .login_wraper .loginmodal .signform .or{
	float: left;
	width: 10%;
	text-align: center;
}
.login_wraper .loginmodal .signform .br{
	height: 1px;
	background-color: lightgrey;
	width: 45%;
	margin-top: 10px;
}
.login_wraper .loginmodal .signform button#btnreg{
	margin: auto;
	width: 70%;
	height: 40px;
	/*background-color: #7cbb00;*/
	background-image: url("login.jpg");
	background-position: 0px -222px;
	margin-top: 20px;
	display: block;
	border-radius: 20px;
	border: 0px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 2px solid #66550b;
}
.login_wraper .loginmodal .signform button:active{
	border-bottom: none!important;
	outline: none;
}
.login_wraper .loginmodal .signform button:focus{
	outline: none;
}
.login_wraper .loginmodal .signup label{
	margin-bottom: 1px;
	margin-top: 5px;
}
.login_wraper .loginmodal .coverimg{
	height: 100%;
	width: 50%;
	background-image: url("login.jpg");
	position: absolute;
	z-index: 3;
	background-size: cover;
	transition: all 1s ease;
}
.login_wraper .loginmodal .coverimg h2{
	color: white;
	font: 50px/5px "Arial black";
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 60%;
}
@media only screen and (max-width: 768px){
	.login_wraper .loginmodal{
		width: 100%;
		left: 0px;
	}
}
@media only screen and (max-width: 767px){
	.login_wraper .loginmodal .coverimg{
		display: none;
	}
	.login_wraper .loginmodal {
		overflow: hidden;
		width: 90%;
		left: 5%;
		background-color: rgba(255,255,255,0.9);
	}
	.login_wraper .loginmodal .signup, .login_wraper .loginmodal .signform{
		width: 100%;
	}
	.login_wraper .loginmodal .signup, .login_wraper .loginmodal .signform{
		animation: fadeInLeft 1s 0s forwards;
	}
}