@import url("https://fonts.googleapis.com/css?family=Poppins");
@font-face {
  font-family: 'AvenirNext-Regular';
  /*src: url("/fonts/avenirnext/AvenirNext-Regular.eot");*/
  src: url("/fonts/avenirnext/AvenirNextLTPro-Regular.woff") format("woff"), url("/fonts/avenirnext/AvenirNextLTPro-Regular.otf") format("opentype"), url("/fonts/avenirnext/AvenirNextLTPro-Regular.ttf") format("truetype"), url("/fonts/avenirnext/AvenirNextLTPro-Regular.svg#svgFontName") format("svg");
  font-family: 'AvenirNext-Bold';
  /*	src: url("/fonts/avenirnext/AvenirNext-Bold.eot");*/
  src: url("/fonts/avenirnext/AvenirNextLTPro-Bold.woff") format("woff"), url("/fonts/avenirnext/AvenirNextLTPro-Bold.otf") format("opentype"), url("/fonts/avenirnext/AvenirNextLTPro-Bold.ttf") format("truetype"), url("/fonts/avenirnext/AvenirNextLTPro-Bold.svg#svgFontName") format("svg"); }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  /* overwriting rc-slider css*/ }
  body img {
    max-width: 100%; }
  body .rc-slider {
    width: 96.5%; }
  body .rc-slider-handle {
    border: 1px solid white;
    background-color: #fbc305;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
  body .rc-slider-dot-active {
    border-color: #95989a; }
  body .rc-slider-track {
    background-color: #172650; }
  body .rc-slider-mark-text-active {
    color: #767676; }

a {
  cursor: pointer; }
