/** Styling for platforms Section on the homepage **/

/*overwriting wrapper css*/

#collaboration {
  .platforms_wrapper1.wrapper {
    padding:14vh 5vh;
  }
  .platforms_wrapper1{
    text-align: center;
  }
}

.platforms_content_wrapper1 {
  display: inline-block;
  padding: 4%;
  text-align: left;
  vertical-align: middle;
  /*width: 42%;*/
  .fadeInRight{
    display: inline-block;
    padding: 4%;
    text-align: left;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
  }
}

.drawing-collaboration {
  height: auto;
  display: inline-block;
  max-width: 100%;
  @at-root div.fadeInLeft{
    height: auto;
    display: inline-block;
    max-width: 100%;
  }
}


#platform_top {
  display: inline-block;
}

#platform_bottom {
  display: none;
}

@media only screen and (max-width: 1098px) {
  #platform_top {
    display: none;
  }
  #platform_bottom {
    display: inline-block;
  }
  .platforms_content_wrapper1 {
    width: 100%;
    padding: 0 5vw;
  }

  .drawing-collaboration{
    padding: 0 5vw;
  }
  #collaboration .wrapper {
    padding: 5vh 0;
  }
}


@media only screen and (max-width: 420px) {
  #platform_top {
    display: none;
  }
  #platform_bottom {
    display: inline-block;
  }

 .drawing-collaboration{
    padding: 0;
  }

.platforms_content_wrapper1{
	text-align:center;
	}

}
